*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    /* background-color: #060606; */


}
.main-1{
    min-height: 100vh !important;
    /* background-color: #060606 !important; */
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./assets/alagar.png") !important; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


 
.nav-link{
    text-align: end;
}
.main-2{
   min-height: 100vh !important ;
}
.main-3{
   min-height: 100vh !important; 
   /* background-color: #060606 !important; */

 }
 .main-4{
    min-height: 100vh !important ;
 }

 .main-5{
     
    /* background-color: #060606 !important; */
 
  }

 
 .all{
    height: fit-content !important;
    overflow: hidden !important;
 }
 


.card1{
    background-image: url("https://images.pexels.com/photos/12200696/pexels-photo-12200696.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 50vh !important;
}
.card2{
    background-image: url("https://images.pexels.com/photos/8891159/pexels-photo-8891159.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 50vh !important;
}
.card3{
    background-image: url("https://images.pexels.com/photos/3143813/pexels-photo-3143813.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 50vh !important;
}
.card4{
    background-image: url("https://images.pexels.com/photos/3098620/pexels-photo-3098620.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 50vh !important;
}
.card5{
    background-image: url("https://images.pexels.com/photos/7693229/pexels-photo-7693229.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 50vh !important;
}
.card6{
    background-image: url("https://images.pexels.com/photos/18311089/pexels-photo-18311089/free-photo-of-laptop-iphone-and-headphones.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 50vh !important;
}

.contact{
    background-color: #060606 !important;

}




@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */


.line-1{
    position: relative;
    /* top: 50%;   */
    width: 24em;
    
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
    letter-spacing: 0.3rem;
 }

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24rem;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.landing{
    max-height: 100vh !important;
}